DJANGO_EXECUTABLE_TYPE=development
DJANGO_WWW_VHOST=www.example.com,site1.example.com
DJANGO_SECRET_KEY=django-insecure-key
DJANGO_SUPERUSER_NAME=superuser
DJANGO_SUPERUSER_EMAIL=superuser@local.access
DJANGO_SUPERUSER_PASSWORD=superuser-password