{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% include 'breadcrumbs.html' with title=_("Index") %}
<div class="row justify-content-center">
  <div class="col">
    <div class="row row-cols-1 row-cols-md-2 g-2">
      {% if not user.is_authenticated %}
      <div class="col">
        <p>{% trans "Please login from above link." %}</p>
      </div>
      {% else %}
      <div class="col">
        <a href="{% url 'stock:dashboard' %}" class="link-underline link-underline-opacity-0">
          <div class="card custom-boxshadow">
            <div class="card-body">
              <p class="card-title h3">{% trans "Dashboard" %}</p>
              <p class="card-text">{% trans "Show your assets." %}</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'stock:list_snapshot' %}" class="link-underline link-underline-opacity-0">
          <div class="card custom-boxshadow">
            <div class="card-body">
              <p class="card-title h3">{% trans "Snapshot list" %}</p>
              <p class="card-text">{% trans "Check/Register/Update/Delete snapshots" %}</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'stock:list_cash' %}" class="link-underline link-underline-opacity-0">
          <div class="card custom-boxshadow">
            <div class="card-body">
              <p class="card-title h3">{% trans "Cash list" %}</p>
              <p class="card-text">{% trans "Check/Register/Update/Delete cashes" %}</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'stock:list_purchased_stock' %}" class="link-underline link-underline-opacity-0">
          <div class="card custom-boxshadow">
            <div class="card-body">
              <p class="card-title h3">{% trans "Purchased stock list" %}</p>
              <p class="card-text">{% trans "Check/Register/Update/Delete purchsed sotcks" %}</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="{% url 'stock:list_stock' %}" class="link-underline link-underline-opacity-0">
          <div class="card custom-boxshadow">
            <div class="card-body">
              <p class="card-title h3">{% trans "Stock list" %}</p>
              <p class="card-text">{% trans "Check sotcks" %}</p>
            </div>
          </div>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block bodyjs %}
{% endblock %}