<script>
(function() {
  const ids = [
    {% for target_id in datalist_ids %}"{{ target_id|stringformat:'s' }}",{% endfor %}
  ];
  const form = document.getElementById('{{ form_id }}');

  form.addEventListener('submit', (event) => {
    // Update dataset values for each relevant field
    for (const targetID of ids) {
      const element = document.getElementById(targetID);
      element.disabled = false;
      const datalist = element.getAttribute('list');
      const options = document.querySelectorAll(`#${datalist} option`);
      const selectedOption = Array.from(options).find((option) => option.label === element.value);
      // In the case of that valid option exists
      if (selectedOption) {
        element.value = selectedOption.dataset.value;
      }
    }
  });
  // Add DOM event
  document.addEventListener('DOMContentLoaded', () => {
    for (const targetID of ids) {
      const element = document.getElementById(targetID);

      if (element.value) {
        const datalist = element.getAttribute('list');
        const options = document.querySelectorAll(`#${datalist} option`);
        const targetOption = Array.from(options).find((option) => option.dataset.value === element.value);
        element.value = targetOption.label;
      }
    }
  });
})();
</script>
