{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% include 'breadcrumbs.html' with title=_("Dashboard") %}
<div class="row justify-content-center">
  <div class="col">
  {% if snapshots %}
  <div class="row row-cols-1 g-2">
    <div class="col">
      <p class="fs-5">{% trans "Target snapshot" %}</p>
      <select name="snapshot" id="all-snapshots" class="form-control">
        {% for instance in snapshots %}
        <option value="{{ instance.uuid }}" {% if forloop.first %}selected{% endif %}>{{ instance.title }}({{ instance.created_at|date:'Y-m-d' }})</option>
        {% endfor %}
      </select>
    </div>
    <div class="col">
      <p class="fs-5">{% trans "Sort type" %}</p>
      <select name="sortType" id="sort-type" class="form-control">
        <option value="none" selected>{% trans "Without sorting" %}</option>
        <option value="asc">{% trans "Ascending order" %}</option>
        <option value="desc">{% trans "Descending order" %}</option>
      </select>
    </div>
    <div class="col">
      <nav>
        <div class="nav nav-pills flex-column flex-md-row" id="management-tab" role="tablist">
          <button
            type="button"
            class="flex-md-fill text-md-center nav-link active"
            id="portfolio-tab"
            data-bs-toggle="tab"
            data-bs-target="#portfolio-tab-pane"
            role="tab"
            aria-controls="portfolio-tab-pane"
            aria-selected="true"
          >
            {% trans "Portfolio" %}
          </button>
          <button
            type="button"
            class="flex-md-fill text-md-center nav-link"
            id="sector-tab"
            data-bs-toggle="tab"
            data-bs-target="#sector-tab-pane"
            role="tab"
            aria-controls="sector-tab-pane"
            aria-selected="false"
          >
            {% trans "Sector" %}
          </button>
          <button
            type="button"
            class="flex-md-fill text-md-center nav-link"
            id="economic-trend-tab"
            data-bs-toggle="tab"
            data-bs-target="#economic-trend-tab-pane"
            role="tab"
            aria-controls="economic-trend-tab-pane"
            aria-selected="false"
          >
            {% trans "Economic trend" %}
          </button>
          <button
            type="button"
            class="flex-md-fill text-md-center nav-link"
            id="asset-diff-tab"
            data-bs-toggle="tab"
            data-bs-target="#asset-diff-tab-pane"
            role="tab"
            aria-controls="asset-diff-tab-pane"
            aria-selected="false"
          >
            {% trans "Diff" %}
          </button>
          <button
            type="button"
            class="flex-md-fill text-md-center nav-link"
            id="all-assets-tab"
            data-bs-toggle="tab"
            data-bs-target="#all-assets-tab-pane"
            role="tab"
            aria-controls="all-assets-tab-pane"
            aria-selected="false"
          >
            {% trans "Assets" %}
          </button>
        </div>
      </nav>
      <div class="tab-content my-2 pt-1 border-top border-2" id="management-content">
        <div
          class="tab-pane fade show active"
          id="portfolio-tab-pane"
          role="tabpanel"
          aria-labelledby="portfolio-tab"
          tabindex="0"
        >
          <div class="row row-cols-1 row-cols-md-2 g-2">
            <div class="col">
              <canvas id="stock-portfolio-chart" class="w-100"></canvas>
            </div>
            <div class="col">
              <canvas id="dividend-portfolio-chart" class="w-100"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="sector-tab-pane"
          role="tabpanel"
          aria-labelledby="sector-tab"
          tabindex="0"
        >
          <div class="row row-cols-1 row-cols-md-2 g-2">
            <div class="col">
              <canvas id="sector-price-chart" class="w-100"></canvas>
            </div>
            <div class="col">
              <canvas id="sector-dividend-chart" class="w-100"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="economic-trend-tab-pane"
          role="tabpanel"
          aria-labelledby="economic-trend-tab"
          tabindex="0"
        >
          <div class="row row-cols-1 row-cols-md-2 g-2">
            <div class="col">
              <canvas id="trend-price-chart" class="w-100"></canvas>
            </div>
            <div class="col">
              <canvas id="trend-dividend-chart" class="w-100"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="asset-diff-tab-pane"
          role="tabpanel"
          aria-labelledby="asset-diff-tab"
          tabindex="0"
        >
          <div class="row">
            <div class="col">
              <canvas id="asset-diff-chart" class="w-100"></canvas>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="all-assets-tab-pane"
          role="tabpanel"
          aria-labelledby="all-assets-tab"
          tabindex="0"
        >
          <div class="row">
            <div class="col">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">{% trans "No." %}</th>
                      <th scope="col" class="text-nowrap">{% trans "Code" %}</th>
                      <th scope="col" class="text-nowrap">{% trans "Stock name" %}</th>
                      <th scope="col" class="text-nowrap">{% trans "Industry" %}</th>
                      <th scope="col" class="text-nowrap">{% trans "Dividend" %}</th>
                      <th scope="col" class="text-nowrap">{% trans "Value" %}</th>
                      <th scope="col" class="text-nowrap">{% trans "Count" %}</th>
                      <th scope="col" class="text-nowrap">{% trans "Diff" %}</th>
                    </tr>
                  </thead>
                  <tbody id="all-assets-list" class="table-group-divider">
                  </tbody>
                  <tfoot class="table-group-divider text-left" id="asset-totals">
                    <tr>
                      <th scope="row" colspan="4" class="text-center">{% trans "Total" %}</th>
                      <th name="total-dividend" data-type="total"></th>
                      <th name="total-value" data-type="total"></th>
                      <th name="total-count" data-type="total"></th>
                      <th name="total-diff" data-type="total"></th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <p>{% trans "There is no snapshots. Please add your snapshots in the following link." %}</p>
  <p>
    <a
      href="{% url 'stock:register_snapshot' %}"
      class="btn btn-outline-primary w-100 custom-boxshadow"
    >
      {% trans "Register snapshot" %}
    </a>
  </p>
  {% endif %}
  </div>
</div>

<div class="modal" id="stock-modal" tabindex="-1" aria-labelledby="stock-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title fs-5" id="stock-label">{% trans "Detail of target stock" %}</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" class="text-nowrap fw-bold">{% trans "Element" %}</th>
                <th scope="col" class="text-nowrap">{% trans "Value" %}</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <td scope="row" class="text-nowrap fw-bold">{% trans "Code" %}</td>
                <td class="text-nowrap"><span data-target="code"></span></td>
              </tr>
              <tr>
                <td scope="row" class="text-nowrap fw-bold">{% trans "Stock name" %}</td>
                <td class="text-break"><span data-target="name"></span></td>
              </tr>
              <tr>
                <td scope="row" class="text-nowrap fw-bold">{% trans "Industry" %}</td>
                <td class="text-nowrap"><span data-target="industry"></span></td>
              </tr>
              <tr>
                <td scope="row" class="text-nowrap fw-bold">{% trans "Stock price" %}</td>
                <td class="text-nowrap"><span data-target="price"></span></td>
              </tr>
              <tr>
                <td scope="row" class="text-nowrap fw-bold">{% trans "Dividend" %}</td>
                <td class="text-nowrap"><span data-target="dividend"></span></td>
              </tr>
              <tr>
                <td scope="row" class="text-nowrap fw-bold">{% trans "Price Earnings Ratio" %}</td>
                <td class="text-nowrap"><span data-target="per"></span></td>
              </tr>
              <tr>
                <td scope="row" class="text-nowrap fw-bold">{% trans "Price Book-value Ratio" %}</td>
                <td class="text-nowrap"><span data-target="pbr"></span></td>
              </tr>
              <tr>
                <td scope="row" class="text-nowrap fw-bold">{% trans "Earnings Per Share" %}</td>
                <td class="text-nowrap"><span data-target="eps"></span></td>
              </tr>
              <tr>
                <td scope="row" class="text-nowrap fw-bold">{% trans "Book value Per Share" %}</td>
                <td class="text-nowrap"><span data-target="bps"></span></td>
              </tr>
              <tr>
                <td scope="row" class="text-nowrap fw-bold">{% trans "Return On Equity" %}</td>
                <td class="text-nowrap"><span data-target="roe"></span>&#37;</td>
              </tr>
              <tr>
                <td scope="row" class="text-nowrap fw-bold">{% trans "Equity Ratio" %}</td>
                <td class="text-nowrap"><span data-target="er"></span>&#37;</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row w-100">
          <div class="col">
            <button type="button" class="btn btn-secondary w-100 custom-boxshadow" data-bs-dismiss="modal">
              {% trans "Close" %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<template id="tbody-template">
<tr>
  <td scope="row" class="asset-idx"></td>
  <td class="asset-code"></td>
  <td class="asset-name"></td>
  <td class="asset-industry"></td>
  <td class="asset-realDividend"></td>
  <td class="asset-value"></td>
  <td class="asset-count"></td>
  <td class="asset-diff"></td>
</tr>
</template>
{% endblock %}

{% block bodyjs %}
{% for instance in snapshots %}
  {{ instance.get_jsonfield }}{% endfor %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js"
        integrity="sha512-ZwR1/gSZM3ai6vCdI+LVF1zSq/5HznD3ZSTk7kajkaj4D292NLuduDCO1c/NT8Id+jE58KYLKT7hXnbtryGmMg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
(function () {
  const createChartData = (data, sortCallback) => {
    const _getValArr = (arr) => arr.map((item) => item.value);
    const _getDiffArr = (arr) => arr.map((item) => item.diff);
    const _getDividendArr = (arr) => arr.map((item) => item.realDividend);
    const _stockValSum = (arr, initVal=0.0) => _getValArr(arr).reduce((acc, val) => acc + val, initVal);
    const _dividendValSum = (arr, initVal=0.0) => _getDividendArr(arr).reduce((acc, val) => acc + val, initVal);
    const _generateColorPalette = (len, offset=180) => {
      const hueArray = (() => {
        const scaler = (len > 360) ? 1.0 : 360.0 / len;

        return [...Array(len)].map((_, idx) => Math.floor(idx * scaler + offset) % 360);
      })();
      const colors = hueArray.map((val) => `hsla(${val}, 82%, 71%, 0.85)`);

      return colors;
    };
    const cash = data.cash.balance;
    const originalStocks = data.purchased_stocks.map((record) => {
      const _stock = record.stock;
      const stockPrice = _stock.price;
      const pStockPrice = record.price;
      const diff = Math.floor((stockPrice - pStockPrice) * record.count);

      return {
        name: _stock.name,
        code: _stock.code,
        industry: _stock.industry.name,
        dividend: _stock.dividend,
        realDividend: _stock.dividend * record.count,
        isDefensive: _stock.industry.is_defensive,
        price: record.price,
        count: record.count,
        diff: diff,
        options: {
          price: _stock.price,
          per: _stock.per,
          pbr: _stock.pbr,
          eps: _stock.eps,
          bps: _stock.bps,
          roe: _stock.roe,
          er: _stock.er,
        },
      };
    });
    const stocks = (() => {
      const _dict = {};
      const _calcValue = (item) => Math.floor(item.price * item.count);

      for (const item of originalStocks) {
        const code = item.code;

        if (Object.hasOwn(_dict, code)) {
          _dict[code].realDividend += item.realDividend;
          _dict[code].value += _calcValue(item);
          _dict[code].count += item.count;
          _dict[code].diff += item.diff;
        }
        else {
          _dict[code] = {
            name: item.name,
            code: code,
            industry: item.industry,
            dividend: item.dividend,
            realDividend: item.realDividend,
            isDefensive: item.isDefensive,
            value: _calcValue(item),
            count: item.count,
            diff: item.diff,
            options: item.options,
          };
        }
      }

      return Object.values(_dict);
    })();
    const records = [{
      name: '{% trans "Cash" %}',
      code: '-',
      industry: '-',
      dividend: 0,
      realDividend: 0,
      isDefensive: undefined,
      value: (cash || 0),
      count: 0,
      diff: 0,
      options: undefined,
    }].concat(stocks);
    // Define name lists
    const stockNameList = [records[0].name].concat(stocks.map((item) => `${item.name}(${item.code})`));
    const sectorNameList = Object.keys(stocks.reduce((_dict, item) => {
      _dict[item.industry] = item.code; return _dict;
    }, {}));
    const trendNameList = ['{% trans "Defensive" %}', '{% trans "Economically sensitive" %}'];
    // Define color dictionaries
    const stockColorDict = (() => {
      const arr = stockNameList.slice(1);
      const palette = _generateColorPalette(arr.length);
      const lightGrey = '#C9CBCF';
      const initVal = {[records[0].name]: lightGrey};

      return arr.reduce((_dict, name, idx) => {_dict[name] = palette[idx]; return _dict; }, initVal);
    })();
    const sectorColorDict = (() => {
      const palette = _generateColorPalette(sectorNameList.length);

      return sectorNameList.reduce((_dict, name, idx) => {_dict[name] = palette[idx]; return _dict;}, {});
    })();
    const trendColorDict = {
      [trendNameList[0]]: 'rgba(136, 200, 244, 0.9)',
      [trendNameList[1]]: 'rgba(243, 136, 158, 0.9)',
    };
    const diffColorDict = stockNameList.slice(1).reduce((_dict, name) => {
      _dict[name] = 'rgba(136, 200, 244, 0.9)'; return _dict;
    }, {});

    const pairs = {
      dividendPortfolioData: {
        title: '{% trans "Portfolio (dividend)" %}',
        labels: stockNameList.slice(1),
        colors: stockColorDict,
        datasets: [{
          label: '{% trans "Dividend" %}',
          data: _getDividendArr(records.slice(1)),
        }],
      },
      stockPortfolioData: {
        title: '{% trans "Portfolio (price)" %}',
        labels: stockNameList.slice(1),
        colors: stockColorDict,
        datasets: [{
          label: '{% trans "Stock price" %}',
          data: _getValArr(records.slice(1)),
        }],
      },
      sectorDividendData: {
        title: '{% trans "Sector distribution (dividend)" %}',
        labels: sectorNameList,
        colors: sectorColorDict,
        datasets: [{
          label: '{% trans "Dividend" %}',
          data: sectorNameList.map((name) => {
            const targets = records.filter((item) => item.industry === name);
            const total = _dividendValSum(targets);

            return total;
          }),
        }],
      },
      sectorPriceData: {
        title: '{% trans "Sector distribution (price)" %}',
        labels: sectorNameList,
        colors: sectorColorDict,
        datasets: [{
          label: '{% trans "Price" %}',
          data: sectorNameList.map((name) => {
            const targets = records.filter((item) => item.industry === name);
            const score = _stockValSum(targets);

            return score;
          }),
        }],
      },
      trendDividendData: {
        title: '{% trans "Economic trend (dividend)" %}',
        labels: trendNameList,
        colors: trendColorDict,
        datasets: [{
          label: '{% trans "Dividend" %}',
          data: [true, false].map((isDefensive) => {
            const targets = records.filter((item) => item.isDefensive === isDefensive);
            const total = _dividendValSum(targets);

            return total;
          }),
        }],
      },
      trendPriceData: {
        title: '{% trans "Economic trend (price)" %}',
        labels: trendNameList,
        colors: trendColorDict,
        datasets: [{
          label: '{% trans "Price" %}',
          data: [true, false].map((isDefensive) => {
            const targets = records.filter((item) => item.isDefensive === isDefensive);
            const score = _stockValSum(targets);

            return score;
          }),
        }],
      },
      assetDiffData: {
        title: '{% trans "Difference between stock price and purchased price" %}',
        labels: stockNameList.slice(1),
        colors: diffColorDict,
        datasets: [{
          axis: 'y',
          label: '{% trans "Diff" %}',
          data: _getDiffArr(records.slice(1)),
        }],
      }
    };
    const output = Object.entries(pairs).reduce((_dict, [key, item]) => {
      const dataset = item.datasets[0];
      const target = dataset.data;
      const indices = target.map((_, idx) => idx);
      const sortedIndices = (sortCallback) ? indices.sort((li, ri) => sortCallback(target[li], target[ri])) : indices;
      const cores = {
        label: dataset.label,
        data: sortedIndices.map((idx) => target[idx]),
        backgroundColor: sortedIndices.map((idx) => item.colors[item.labels[idx]]),
      };
      if (dataset.axis) {
        cores.indexAxis = dataset.axis;
      }
      // Store data
      _dict[key] = {
        title: item.title,
        labels: sortedIndices.map((idx) => item.labels[idx]),
        datasets: [cores],
      };

      return _dict;
    }, {});
    output.records = records;

    return output;
  };
  const updateTable = (records) => {
    const updateNodeStatus = (item, element) => {
      if (item.options) {
        element.dataset.name = item.name;
        element.dataset.code = item.code;
        element.dataset.industry = item.industry;
        element.dataset.price = item.options.price;
        element.dataset.dividend = item.dividend;
        element.dataset.per = item.options.per;
        element.dataset.pbr = item.options.pbr;
        element.dataset.eps = item.options.eps;
        element.dataset.bps = item.options.bps;
        element.dataset.roe = item.options.roe;
        element.dataset.er = item.options.er;
        element.classList.add('text-decoration-underline', 'text-primary');
        // Add click event
        element.addEventListener('click', () => {
          const _keys = Object.freeze([
            'code', 'name', 'industry', 'price', 'dividend',
            'per', 'pbr', 'eps', 'bps', 'roe', 'er',
          ]);
          const pattern = new RegExp('^-[0-9,]+.?[0-9]+$');
          const isNegative = (val) => pattern.test(val);
          // Update modal data and show modal
          for (const key of _keys) {
            const node = document.querySelector(`[data-target="${key}"]`);
            const value = element.dataset[key];
            node.textContent = value;

            if (isNegative(value)) {
              node.parentElement.classList.add('text-danger');
            }
            else {
              node.parentElement.classList.remove('text-danger');
            }
          }
          const stockModal = new bootstrap.Modal('#stock-modal');
          stockModal.show();
        });
      }
    };
    const tbody = document.querySelector('#all-assets-list');
    const tfoot = document.querySelector('#asset-totals');
    const template = document.querySelector('#tbody-template');
    const nodeList = {
      'idx': (_, idx) => idx,
      'code': (val, _) => val,
      'name': (val, _) => val,
      'industry': (val, _) => val,
      'realDividend': (val, _) => val.toLocaleString(),
      'value': (val, _) => val.toLocaleString(),
      'count': (val, _) => val.toLocaleString(),
      'diff': (val, _) => val.toLocaleString(),
    };
    const totals = {
      dividend: 0,
      value: 0,
      count: 0,
      diff: 0,
    };
    tbody.innerHTML = '';

    records.forEach((item, idx) => {
      const clone = template.content.cloneNode(true);

      for (const [key, callback] of Object.entries(nodeList)) {
        const element = clone.querySelector(`.asset-${key}`);
        const val = item[key];
        element.textContent = callback(val, idx);

        if ((key === 'diff') && (val < 0)) {
          element.classList.add('text-danger');
        }
        else if (key === 'name') {
          updateNodeStatus(item, element);
        }
      }
      totals.dividend += item.realDividend;
      totals.value += item.value;
      totals.count += item.count;
      totals.diff += item.diff;
      tbody.appendChild(clone);
    });
    ['dividend', 'value', 'count', 'diff'].forEach((key) => {
      const element = tfoot.querySelector(`th[name="total-${key}"]`);
      const val = totals[key];
      element.textContent = val.toLocaleString();

      if ((key === 'diff') && (val < 0)) {
        element.classList.add('text-danger');
      }
      else {
        element.classList.remove('text-danger');
      }
    });
  };
  const drawPieChart = (chart, target, asset) => {
    const context = document.querySelector(`#${target}`);

    if (chart) {
      chart.destroy();
    }
    chart = new Chart(context, {
      type: 'pie',
      data: {
        labels: asset.labels,
        datasets: asset.datasets,
      },
      options: {
        responsive: true,
        maintainAspectRatio: true,
        plugins: {
          legend: {
            display: false,
          },
          title: {
            display: true,
            text: asset.title,
          },
          tooltip: {
            callbacks: {
              label: function (tooltipItem) {
                const hiddens = Object.entries(tooltipItem.chart._hiddenIndices)
                                      .filter(([key, value]) => value)
                                      .map(([idx, _]) => Number(idx));
                const targets = tooltipItem.dataset.data.filter((_, idx) => !hiddens.includes(idx));
                const total = targets.reduce((acc, val) => acc + val, 0.0);
                const ratio = (tooltipItem.raw + 0.0) / total * 100.0;
                const score = `${tooltipItem.formattedValue}(${ratio.toFixed(2)}%)`;
                const out = `${tooltipItem.dataset.label}: ${score}`;

                return out;
              },
            },
          },
        },
      },
    });

    return chart;
  };
  const drawBarChart = (chart, target, asset) => {
    const context = document.querySelector(`#${target}`);

    if (chart) {
      chart.destroy();
    }
    chart = new Chart(context, {
      type: 'bar',
      data: {
        labels: asset.labels,
        datasets: asset.datasets,
      },
      options: {
        responsive: true,
        maintainAspectRatio: true,
        indexAxis: 'y',
        plugins: {
          legend: {
            display: false,
          },
          title: {
            display: true,
            text: asset.title,
          },
          tooltip: {
            callbacks: {
              label: function (tooltipItem) {
                return `${tooltipItem.dataset.label}: ${tooltipItem.formattedValue}`;
              },
            },
          },
        },
      },
    });

    return chart;
  };

  const init = () => {
    const _sortAlgorithm = (sortType) => {
      const types = {
        none: undefined,
        asc: 1,
        desc: -1,
      };
      const sign = types[sortType];

      if (sign === undefined) {
        return null;
      }
      else {
        return (lv, rv) => { // lv: left-value, rv: right-value
          if      (lv > rv) { return  sign; }
          else if (lv < rv) { return -sign; }
          else              { return 0; }
        };
      }
    };
    // Define chart's variables
    let stockPortfolioChart = null;
    let dividendPortfolioChart = null;
    let sectorPriceChart = null;
    let sectorDividendChart = null;
    let trendPriceChart = null;
    let trendDividendChart = null;
    let assetDiffChart = null;
    // Define callback
    const _callback = (snapshot, sortType) => {
      const uuid = snapshot.value;
      const data = JSON.parse(document.getElementById(uuid).textContent);
      const sortFunction = _sortAlgorithm(sortType.value);
      // Create relevant data
      const output = createChartData(data, sortFunction);
      // Update table
      updateTable(output.records);
      // Draw charts
      stockPortfolioChart = drawPieChart(stockPortfolioChart, 'stock-portfolio-chart', output.stockPortfolioData);
      dividendPortfolioChart = drawPieChart(dividendPortfolioChart, 'dividend-portfolio-chart', output.dividendPortfolioData);
      sectorPriceChart = drawPieChart(sectorPriceChart, 'sector-price-chart', output.sectorPriceData);
      sectorDividendChart = drawPieChart(sectorDividendChart, 'sector-dividend-chart', output.sectorDividendData);
      trendPriceChart = drawPieChart(trendPriceChart, 'trend-price-chart', output.trendPriceData);
      trendDividendChart = drawPieChart(trendDividendChart, 'trend-dividend-chart', output.trendDividendData);
      assetDiffChart = drawBarChart(assetDiffChart, 'asset-diff-chart', output.assetDiffData);
    };
    // Get element
    const snapshot = document.querySelector('#all-snapshots');
    const sortType = document.querySelector('#sort-type');
    snapshot.addEventListener('change', () => _callback(snapshot, sortType));
    sortType.addEventListener('change', () => _callback(snapshot, sortType));
    snapshot.dispatchEvent(new Event('change'));
  };
  // Add DOM event
  document.addEventListener('DOMContentLoaded', init);
})();
</script>
{% endblock %}