{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% include 'breadcrumbs.html' with title=_("Explanation") %}
<div class="row justify-content-center">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">{% trans "Item" %}</th>
            <th scope="col" class="text-nowrap">{% trans "Detail" %}</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <td scope="row">{% trans "Price Earnings Ratio (PER)" %}</td>
            <td>
              {% trans "Indicates up to what multiple of earning per share the stock is bought." %}
              {% trans "A high PER indicates that the stock is overvalued, while a low PER indicates that the stock is undervalued." %}
            </td>
          </tr>
          <tr>
            <td scope="row">{% trans "Price Book-value Ratio (PBR)" %}</td>
            <td>
              {% trans "The ratio of the stock price to the value of the company's assets." %}
              {% trans "A high PER indicates that the stock is overvalued relative to net assets, while a low PER indicates that the stock is undervalued relative to net assets." %}
            </td>
          </tr>
          <tr>
            <td scope="row">{% trans "Earnings Per Share (EPS)" %}</td>
            <td>
              {% trans "This is the portion of a company's profit allocated to each outstanding share of common stock, serving as a profitability indicator." %}
            </td>
          </tr>
          <tr>
            <td scope="row">{% trans "Book value Per Share (BPS)" %}</td>
            <td>
              {% trans "This is the per-share value of equity on an accrual accounting basis that belongs to the common shareholders of a company." %}
            </td>
          </tr>
          <tr>
            <td scope="row">{% trans "Return On Equity (ROE)" %}</td>
            <td>
              {% trans "A quantification of how much profit a company has made with the money invested by its shareholders." %}
              {% trans "In other words, it is a financial indicator that shows how efficiently the company is earning money." %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}