{% extends 'base.html' %}
{% load i18n %}

{% block header %}
<link href="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/css/tom-select.css" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'breadcrumbs.html' with title=_("Register/Update purchsed stock") %}
<div class="row justify-content-center">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <form method="POST" id="purchased-stock-form">
          {% csrf_token %}

          {{ form }}

          <div class="mt-2 row">
            <div class="col">
              <button
                type="button"
                id="stock-helper"
                class="btn btn-outline-primary w-100 custom-boxshadow"
                data-bs-toggle="modal"
                data-bs-target="#stock-helper-modal"
                disabled
              >
                {% trans "Stock list (Shift + f)" %}
              </button>
            </div>
          </div>

          {# Register or cancel #}
          <div class="mt-1 row row-cols-1 row-cols-md-2 g-2">
            <div class="col">
              <button
                type="submit"
                class="btn btn-primary w-100 custom-boxshadow"
              >
                {% trans "Register/Update" %}
              </button>
            </div>
            <div class="col">
              <a
                href="{% url 'stock:list_purchased_stock' %}"
                class="btn btn-secondary w-100 custom-boxshadow"
              >
                {% trans "Cancel" %}
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="stock-helper-modal" tabindex="-1" aria-labelledby="stock-helper-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title h3" id="stock-helper-label">{% trans "Stock helper" %}</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select name="stockListOfModal" id="stock-list-of-modal" class="form-control"></select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">{% trans "Close" %}</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block bodyjs %}
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/js/tom-select.complete.min.js"></script>
{% include form.datalist_template_name with form_id='purchased-stock-form' datalist_ids=form.datalist_ids %}
{{ block.super }}
<script>
(function () {
  const setupStockField = (stockInputElement) => {
    // Process of stock field
    const _getTargetOption = (options, keyName, key) => {
      const targetOption = Object.values(options).find((_option) => _option[keyName] === key);
      const ret = (targetOption) ? targetOption : options[0];

      return ret;
    };
    const getStocks = async () => {
      const url = "{% url 'stock:ajax_stock' %}";
      const response = await fetch(url, {method: 'GET'});
      const data = await response.json();
      const queryset = data.qs;

      return queryset;
    };
    const createOptions = (queryset) => {
      const emptypOption = [{pk: 0, label: '{% trans "Please select an option." %}', text: ''}];
      const originalOptions = queryset.map((record) => {
        const message = `${record.name}(${record.code})`;
        const _option = {pk: record.pk, label: message, text: message};

        return _option;
      });
      const options = emptypOption.concat(originalOptions);

      return options;
    };
    const createDOMOptionElement = (options) => {
      const datalist = stockInputElement.getAttribute('list');
      const parent = document.getElementById(datalist);
      // Remove all children
      while (parent.firstChild) {
        parent.removeChild(parent.firstChild);
      }

      for (const _option of options) {
        const element = document.createElement('OPTION');
        element.setAttribute('data-value', _option.pk);
        const text = document.createTextNode(_option.text);
        element.appendChild(text);
        parent.appendChild(element);
      }
    };
    // In the case of that create view is called
    if (!stockInputElement.value) {
      getStocks().then((queryset) => {
        const freezedOptions = Object.freeze(createOptions(queryset));
        createDOMOptionElement(freezedOptions);
        const stockModalElement = document.getElementById('stock-list-of-modal');
        // Create controller instance
        const controller = new TomSelect(stockModalElement, {
          allowEmptyOption: true,
          closeAfterSelect: true,
          create: false,
          maxItems: 1,
          maxOptions: null,
          onFocus: function () {
            this.clear();
          },
          onChange: function (pk) {
            const targetOption = _getTargetOption(this.options, 'pk', Number(pk));
            stockInputElement.value = targetOption.text;
          },
          onDropdownClose: function (dropdown) {
            stockModalElement.focus();
          },
          valueField: 'pk',
          labelField: 'label',
          searchField: 'text',
          options: freezedOptions,
        });
        // Add event
        stockInputElement.addEventListener('focusout', (event) => {
          const selectedLabel = event.target.value.trim();
          const targetOption = _getTargetOption(controller.options, 'label', selectedLabel);
          controller.setValue([targetOption.pk]);
          event.target.value = targetOption.text;
        });
      }).catch((err) => {
        console.error(err);
      });
      // Update DOM element status
      const element = document.getElementById('stock-helper');
      element.disabled = false;
      // Add key event
      document.addEventListener('keyup', (event) => {
        if (event.key === 'F') { /* F := Shift + f */
          element.click();
        }
      });
    }
  };
  // Define initialization function
  const init = () => {
    g_setupPicker(document.getElementById('purchase-date-id'));
    setupStockField(document.getElementById('stock-id'));
  };
  // Add DOM event
  document.addEventListener('DOMContentLoaded', init);
})();
</script>
{% endblock %}