{% extends 'base.html' %}
{% load utils_extras %}
{% load i18n %}
{% load humanize %}

{% block content %}
{% include 'breadcrumbs.html' with title=_("Purchased stocks") %}
<div class="row justify-content-center">
  <div class="col">
    <div class="row row-cols-1 g-2">
      <div class="col">
        <a
          href="{% url 'stock:register_purchased_stock' %}"
          class="btn btn-primary w-100 custom-boxshadow"
        >
          {% trans "Register purchsed stock" %}
        </a>
      </div>
      <div class="col">
        <button
          type="button"
          id="record-filtering"
          class="btn btn-success w-100 custom-boxshadow"
          data-bs-toggle="modal"
          data-bs-target="#record-filtering-modal"
        >
          {% trans "Search purchased stock (Shift + f)" %}
        </button>
      </div>
      <div class="col">
        {% if pstocks %}
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">{% trans "No." %}</th>
                <th scope="col" class="text-nowrap">{% trans "Code" %}</th>
                <th scope="col" class="text-nowrap">{% trans "Stock name" %}</th>
                <th scope="col" class="text-nowrap">{% trans "Industry" %}</th>
                <th scope="col" class="text-nowrap">{% trans "Trade date" %}</th>
                <th scope="col" class="text-nowrap">{% trans "Average trade price" %}</th>
                <th scope="col" class="text-nowrap">{% trans "Count" %}</th>
                <th scope="col" class="text-nowrap">{% trans "Diff" %}</th>
                <th colspan="2" class="text-center">{% trans "Operate" %}</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              {% for instance in pstocks %}
              <tr
                data-code="{{ instance.stock.code }}"
                data-name="{{ instance.stock.get_name }}"
                data-industry="{{ instance.stock.industry }}"
                data-price="{{ instance.stock.price|intcomma }}"
                data-dividend="{{ instance.stock.dividend|floatformat:1 }}"
                data-yield="{{ instance|get_yield|floatformat:2 }}"
                data-per="{{ instance.stock.per }}"
                data-pbr="{{ instance.stock.pbr }}"
                data-multi="{{ instance|get_multi_per_pbr|floatformat:2 }}"
                data-eps="{{ instance.stock.eps|intcomma }}"
                data-bps="{{ instance.stock.bps|intcomma }}"
                data-roe="{{ instance.stock.roe }}"
                data-er="{{ instance.stock.er }}"
              >
                {% with table_css=instance.has_been_sold|yesno:'table-secondary,' %}
                <td scope="row" class="{{ table_css }}">{{ page_obj.start_index|add:forloop.counter0 }}</td>
                <td data-type="code" class="{{ table_css }}">{{ instance.stock.code }}</td>
                <td data-type="name" class="text-decoration-underline text-primary js-click-link {{ table_css }}" tabindex="0">{{ instance.stock.get_name }}</td>
                <td data-type="industry" class="{{ table_css }}">{{ instance.stock.industry }}</td>
                <td data-type="purchaseDate" class="{{ table_css }}">{{ instance.purchase_date|date:"Y-m-d" }}</td>
                <td data-type="price" class="{{ table_css }}">{{ instance.price|intcomma }}</td>
                <td data-type="count" class="{{ table_css }}">{{ instance.count|intcomma }}</td>
                {% with total=instance|get_total_diff %}
                <td data-type="diff" {% if total|is_negative %}class="text-danger {{ table_css }}"{% else %}class="{{ table_css }}"{% endif %}>{{ total|floatformat:0|intcomma }}</td>
                {% endwith %}
                {% endwith %}
                <td data-operate="edit" class="text-center">
                  <a
                    href="{% url 'stock:update_purchased_stock' pk=instance.pk %}"
                    class="btn btn-link px-1 py-0 text-success link-underline link-underline-opacity-0"
                  >
                    <i class="fas fa-edit fa-lg"></i>
                  </a>
                </td>
                <td data-operate="delete" class="text-center">
                  <button
                    class="btn btn-link px-1 py-0 text-danger delete-target-record"
                    data-name="[{{ instance.purchase_date|date:'Y-m-d' }}] {{ instance.stock.get_name }}({{ instance.stock.code }})"
                    data-url="{% url 'stock:delete_purchased_stock' pk=instance.pk %}"
                  >
                    <i class="fas fa-trash fa-lg"></i>
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <span>{% trans "There is no purchased stocks. Please add the items from the above button." %}</span>
        {% endif %}
      </div>
      <div class="col">
      {% include "renderer/custom_pagenate.html" with page_obj=page_obj %}
      </div>
    </div>
  </div>
</div>

{% include "delete_modal_form.html" with modal_id="delete-modal" form_id="delete-form" %}
<div class="modal" id="stock-modal" tabindex="-1" aria-labelledby="stock-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title fs-5" id="stock-label">{% trans "Detail of target stock" %}</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" class="text-nowrap fw-bold">{% trans "Element" %}</th>
                <th scope="col" class="text-nowrap">{% trans "Value" %}</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <td scope="row" class="text-nowrap fw-bold">{% trans "Code" %}</td>
                <td class="text-nowrap"><span data-target="code"></span></td>
              </tr>
              <tr>
                <td scope="row" class="text-nowrap fw-bold">{% trans "Stock name" %}</td>
                <td class="text-break"><span data-target="name"></span></td>
              </tr>
              <tr>
                <td scope="row" class="text-nowrap fw-bold">{% trans "Industry" %}</td>
                <td class="text-nowrap"><span data-target="industry"></span></td>
              </tr>
              <tr>
                <td scope="row" class="text-nowrap fw-bold">{% trans "Stock price" %}</td>
                <td class="text-nowrap"><span data-target="price"></span></td>
              </tr>
              <tr>
                <td scope="row" class="text-nowrap fw-bold">{% trans "Dividend" %}</td>
                <td class="text-nowrap"><span data-target="dividend"></span></td>
              </tr>
              <tr>
                <td scope="row" class="text-nowrap fw-bold">{% trans "Dividend yield" %}</td>
                <td class="text-nowrap"><span data-target="yield"></span>&#37;</td>
              </tr>
              <tr>
                <td scope="row" class="text-nowrap fw-bold">{% trans "Price Earnings Ratio" %}</td>
                <td class="text-nowrap"><span data-target="per"></span></td>
              </tr>
              <tr>
                <td scope="row" class="text-nowrap fw-bold">{% trans "Price Book-value Ratio" %}</td>
                <td class="text-nowrap"><span data-target="pbr"></span></td>
              </tr>
              <tr>
                <td scope="row" class="text-nowrap fw-bold">{% trans "PER &times; PBR" %}</td>
                <td class="text-nowrap"><span data-target="multi"></span></td>
              </tr>
              <tr>
                <td scope="row" class="text-nowrap fw-bold">{% trans "Earnings Per Share" %}</td>
                <td class="text-nowrap"><span data-target="eps"></span></td>
              </tr>
              <tr>
                <td scope="row" class="text-nowrap fw-bold">{% trans "Book value Per Share" %}</td>
                <td class="text-nowrap"><span data-target="bps"></span></td>
              </tr>
              <tr>
                <td scope="row" class="text-nowrap fw-bold">{% trans "Return On Equity" %}</td>
                <td class="text-nowrap"><span data-target="roe"></span>&#37;</td>
              </tr>
              <tr>
                <td scope="row" class="text-nowrap fw-bold">{% trans "Equity Ratio" %}</td>
                <td class="text-nowrap"><span data-target="er"></span>&#37;</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row w-100">
          <div class="col">
            <button type="button" class="btn btn-secondary w-100 custom-boxshadow" data-bs-dismiss="modal">
              {% trans "Close" %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{# Filtering purchased stock modal #}
<div class="modal fade" id="record-filtering-modal" tabindex="-1" aria-labelledby="record-filtering-label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title h3" id="record-filtering-label">{% trans "Seach purchased stock" %}</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row row-cols-2 row-cols-lg-4 g-2">
          <div class="col">
            <div class="form-floating">
            {% with field=form.target %}
              {{ field }}
              <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {% endwith %}
            </div>
          </div>
          <div class="col">
            <div class="form-floating">
            {% with field=form.compop %}
              {{ field }}
              <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {% endwith %}
            </div>
          </div>
          <div class="col">
            <div class="form-floating">
            {% with field=form.inputs %}
              {{ field }}
              <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {% endwith %}
            </div>
          </div>
          <div class="col">
            <button
              type="button"
              id="add-command"
              class="btn btn-outline-primary w-100 h-100 custom-boxshadow"
            >
              {% trans "Add (Enter)" %}
            </button>
          </div>
          <div class="col">
            <button
              type="button"
              id="and-operator"
              accesskey="a"
              class="btn btn-outline-success w-100 custom-boxshadow"
            >
              {% trans "AND" %}(<u>a</u>)
            </button>
          </div>
          <div class="col">
            <button
              type="button"
              id="or-operator"
              accesskey="o"
              class="btn btn-outline-success w-100 custom-boxshadow"
            >
              {% trans "OR" %}(<u>o</u>)
            </button>
          </div>
          <div class="col">
            <button
              type="button"
              id="left-bracket"
              accesskey="l"
              class="btn btn-outline-success w-100 custom-boxshadow"
            >
              {% trans "(" %}<span class="ps-1">(<u>l</u>)</span>
            </button>
          </div>
          <div class="col">
            <button
              type="button"
              id="right-bracket"
              accesskey="r"
              class="btn btn-outline-success w-100 custom-boxshadow"
            >
              {% trans ")" %}<span class="ps-1">(<u>r</u>)</span>
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row row-cols-1 g-2 w-100">
          {% if form.errors %}
          <div class="col text-danger">
            <p class="h5">{% trans "Errors" %}</p>
            {{ form.errors }}
          </div>
          {% endif %}
          <div class="col">
            <form method="GET" id="record-filtering-form">
              <div class="row row-cols-1 g-2 mb-2">
                <div class="col">
                  <div class="form-floating">
                  {% with field=form.condition %}
                    {{ field }}
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                  {% endwith %}
                  </div>
                </div>
              </div>
              <div class="row row-cols-1 row-cols-lg-2 g-2">
                <div class="col">
                  <button
                    type="submit"
                    class="btn btn-primary w-100 custom-boxshadow"
                  >
                    {% trans "Search (Ctrl + Enter)" %}
                  </button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-secondary w-100 custom-boxshadow" data-bs-dismiss="modal">
                    {% trans "Close" %}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block bodyjs %}
{{ block.super }}
<script>
(function () {
  g_registerDeleteModalEvent({
    targetCSS: 'delete-target-record',
    formID: 'delete-form',
    modalID: 'delete-modal',
  });
  // Setup filtering form
  const setupFilteringForm = () => {
    const removeAllAttrs = (element, ...attrs) => attrs.forEach((_attr) => element.removeAttribute(_attr));
    const targetColumn = document.getElementById('target-column-name');
    const compOperator = document.getElementById('comp-operator');
    const inputData = document.getElementById('input-data');
    const condition = document.getElementById('condition');
    const addCmd = document.getElementById('add-command');
    const operatorValuePair = Object.freeze({
      'and-operator': ' and ',
      'or-operator': ' or ',
      'left-bracket': '(',
      'right-bracket': ')',
    });
    const defaultOperator = compOperator.cloneNode(true);
    removeAllAttrs(defaultOperator, 'id', 'name');

    // Add modal shown event
    (() => {
      const modal = document.getElementById('record-filtering-modal');
      modal.addEventListener('shown.bs.modal', (event) => {
        targetColumn.focus();
      });
    })();
    // Add change event
    targetColumn.addEventListener('change', (event) => {
      const target = event.target;
      const selectedOption = target.options[target.selectedIndex];
      const dataType = selectedOption.dataset.type;
      // Get valid options
      const validOptions = Array.from(defaultOperator.options).filter((option) => {
        const _type = option.dataset.type;
        const ret = (_type === 'both') || (_type === dataType);

        return ret;
      });
      // Delete all children
      while (compOperator.firstChild) {
        compOperator.removeChild(compOperator.firstChild);
      }
      // Add relevant options
      for (const _option of validOptions) {
        const element = document.createElement('OPTION');
        element.setAttribute('value', _option.value);
        element.setAttribute('data-type', _option.dataset.type);
        const text = document.createTextNode(_option.textContent);
        element.appendChild(text);
        compOperator.appendChild(element);
      }
    });
    // Add key event
    inputData.addEventListener('keyup', (event) => {
      if (!event.ctrlKey && (event.key === 'Enter')) {
        addCmd.click();
      }
    });
    // Add focus event
    let picker = null;
    inputData.addEventListener('focusin', (event) => {
      const selectedOption = targetColumn.options[targetColumn.selectedIndex];
      const variableName = targetColumn.value;
      const dataType = selectedOption.dataset.type;

      if (variableName === 'purchase_date') {
        if (!picker) {
          picker = g_setupPicker(event.target);
          picker.updateOptions({
            localization: {
              format: 'yyyy-MM-dd',
              dayViewHeaderFormat: { year: 'numeric', month: 'long' },
            },
          });
          picker.clear();
        }
        event.target.type = 'text';
      }
      else {
        if (picker) {
          picker.clear();
          picker.dispose();
          picker = null;
        }
        event.target.type = (dataType === 'number') ? 'number' : 'text';
      }
    });
    // Add click event
    addCmd.addEventListener('click', () => {
      const _variableName = targetColumn.value;
      const _compOp = compOperator.value;
      const _inputVal = inputData.value;

      if (_variableName && _compOp && _inputVal) {
        const selectedOption = targetColumn.options[targetColumn.selectedIndex];
        const dataType = selectedOption.dataset.type;
        const value = ((dataType === 'str') || (_variableName === 'purchase_date')) ? `"${_inputVal}"` : _inputVal;
        const command = `${_variableName} ${_compOp} ${value}`;
        condition.value += command;
      }
    });
    for (const [key, word] of Object.entries(operatorValuePair)) {
      const element = document.getElementById(key);
      element.addEventListener('click', () => {
        const sentence = condition.value;
        const position = condition.selectionStart;
        const beforeWord = sentence.substr(0, position);
        const afterWord = sentence.substr(position, sentence.length);
        condition.value = beforeWord + word + afterWord;
        targetColumn.focus();
      });
    }
    targetColumn.dispatchEvent(new Event('change'));
  };
  // Setup link click event
  const setupLinkClickEvent = () => {
    const _keys = Object.freeze([
      'code', 'name', 'industry', 'price', 'dividend', 'yield',
      'per', 'pbr', 'multi', 'eps', 'bps', 'roe', 'er',
    ]);
    const pattern = new RegExp('^-[0-9,]+.?[0-9]+$');
    const isNegative = (val) => pattern.test(val);
    const canClickLinks = document.querySelectorAll('.js-click-link');
    const stockModal = new bootstrap.Modal('#stock-modal');

    for (const link of canClickLinks) {
      // Add click event
      link.addEventListener('click', (event) => {
        const parent = event.target.parentElement;

        for (const key of _keys) {
          const node = document.querySelector(`[data-target="${key}"]`);
          const value = parent.dataset[key];
          node.textContent = value;

          if (isNegative(value)) {
            node.parentElement.classList.add('text-danger');
          }
          else {
            node.parentElement.classList.remove('text-danger');
          }
        }
        stockModal.show();
      });
      // Add key press event
      link.addEventListener('keyup', (event) => {
        if (event.key === 'Enter') {
          link.click();
        }
      });
    }
  };

  // Define initialization function
  const init = () => {
    // Setup filtering form
    const filteringBtn = document.getElementById('record-filtering');
    setupFilteringForm();

    // Add key event
    document.addEventListener('keyup', (event) => {
      if (event.key === 'F') { /* F := Shift + f */
        filteringBtn.click();
      }
      else if (event.ctrlKey && (event.key === 'Enter')) {
        const filteringForm = document.getElementById('record-filtering-form');
        filteringForm.submit();
      }
    });
    {% if form.errors %}
    filteringBtn.click();
    {% endif %}
  };
  // Add DOM event
  document.addEventListener('DOMContentLoaded', init);
})();
</script>
{% endblock %}
